* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: gray;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.navbar-button {
  font-size: medium;
  background-color: rgba(211, 211, 211, 0);
  border: 0;
  border-radius: .5rem;
  padding: .5rem;
}

.navbar-button:hover {
  background-color: rgba(211, 211, 211, 0.486);
}
